/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  /* Reset end */

body {
    background-color: lightgray;
    min-height: 100vh;
}

  h1 {
    text-align: center;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    max-width: 90%;
    margin: 0 auto;
  }

  .toolbox {
    display: flex;
    flex-direction: column;
    width: 3rem;
    border: 1px solid red;
  }

  .drawing-area {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 400px;
    height: 400px;
    margin: 1rem;
    /* border: 10px solid rgb(93, 236, 10, 1); */
    
  }

  .pixel {
    /* background-color: white; */
    height: auto;
    width: auto;
    /* border: 1px solid red; */
  }

  #pen-color {
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border: none;
  cursor:crosshair;

}
#pen-color::-webkit-color-swatch {
  border-radius: 10%;
  border: none;
}
#pen-color::-moz-color-swatch {
  border-radius: 10%;
  border: none;
    
}


.btn-tool {
    height: 2.5rem;
    width: 2.5rem;
}



  #btn-eraser {
    background-image: url(./icons/iconmonstr-eraser-2.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  #btn-normal {
    background-image: url(./icons/iconmonstr-paintbrush-12.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  #btn-highlight {
    background-image: url(./icons/iconmonstr-brightness-4.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  #btn-shadow {
    background-image: url(./icons/iconmonstr-brightness-2.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  #btn-rainbow {
    background-image: url(./icons/iconmonstr-weather-127.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  #btn-clear {
    background-image: url(./icons/iconmonstr-text-24.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

#grid-icon {
    height: 2.5rem;
    width: 2.5rem;
}

.slider-tool {
    display: flex;
    align-items: center;
    border: 2px solid black;
}

.slider-info {
    display: flex;
    flex-direction: column;

}


#slider {
    appearance: none;
    -webkit-appearance: slider-vertical;
    border: 1px solid red;
}